# Archivos de datos originales
data/raw_*.csv
data/raw_*.xpt
data/raw_*.zip

# Entornos y compilados
.venv/
__pycache__/

# Modelos y checkpoints (actualmente no se tiene .h5 ni .ckpt)
*.pkl
*.h5
*.ckpt

# Variables de entorno (actualmente no se tiene, pero de crearse, contendría información sensible como contraseñas de bases de datos)
.env

# Configuraciones de VS Code
.vscode/