# Núcleo numérico y manipulación de datos
pandas==2.3.3
numpy==2.3.5

# Machine Learning / Preprocesamiento
scikit-learn==1.7.2
lightgbm==4.6.0
joblib==1.5.3

# Desarrollo de API y gestión de entornos
fastapi==0.124.4
pydantic==2.12.5
uvicorn[standard]==0.23.2